@model IEnumerable<WebApplication1.Models.Egzemplarze>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sygnatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ksiazki.nazwa)
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sygnatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ksiazki.nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Statusy.nazwa)
        </td>
        <td>
           
            @if(item.id_status == 1)
            {@Html.ActionLink("Zamów", "Zamow", new { id=item.id_egzemplarz }) }
        </td>
           
    </tr>
}

</table>
