@model IEnumerable<WebApplication1.Models.AutorzyKsiazki>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (@Html.BeginForm())
{
    <p>
        Wyszukaj: @Html.TextBox("k") <br />
        <input type="submit" value="Wyszukaj">
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ksiazki.nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autorzy.imie)
            @Html.DisplayNameFor(model => model.Autorzy.nazwisko)
        </th>
        <th>
            @Html.DisplayNameFor(model =>model.Ksiazki.isbn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ksiazki.opis)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem=>item.Ksiazki.nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autorzy.imie)
            @Html.DisplayFor(modelItem => item.Autorzy.nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ksiazki.isbn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ksiazki.opis)
        </td>
        <td>
            @Html.ActionLink("Wyświetl", "getEgzemplarze", new { id=item.id_ksiazka}) |
            @Html.ActionLink("Zamów", "Wypozycz", new { id=item.id_ksiazka }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_autKsiazki })
        </td>
    </tr>
}

</table>
