@model IEnumerable<WebApplication1.Models.WypozyczeniaKsiazki>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.do_kiedy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.czy_spozniona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Egzemplarze.sygnatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Egzemplarze.Ksiazki.nazwa) <br />
            <i font size="1">@Html.DisplayNameFor(model => model.Egzemplarze.Ksiazki.isbn)</i>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.do_kiedy)
        </td>
        <td>
            @if(item.czy_spozniona == 0) {<p>NIE</p>}
            else 
            {<p font color="red">TAK - <b>@(DateTime.Now - item.do_kiedy) dni</b></p>}
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Egzemplarze.sygnatura)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_wypozyczeniaKsiazki }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_wypozyczeniaKsiazki }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_wypozyczeniaKsiazki })
        </td>
    </tr>
}

</table>
