@model IEnumerable<WebApplication1.Models.WypozyczeniaKsiazki>

<p>
   
</p>
<table class="table">
    <tr>
        <th>
            Lokalizacja
        </th>
        <th>
            Czytelnik
        </th>
        <th>
            Książka
        </th>
        <th>
            Znak
        </th>
        <th>
            Data zwrotu: 
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Egzemplarze.Ksiazki.Biblioteka.nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wypozyczenia.Czytelnik.imie)
            @Html.DisplayFor(modelItem => item.Wypozyczenia.Czytelnik.nazwisko)
            @Html.DisplayFor(modelItem => item.Wypozyczenia.Czytelnik.kod)
        </td>
        <td>
           <i>@Html.DisplayFor(modelItem => item.Egzemplarze.Ksiazki.nazwa)</i>
            ISBN: @Html.DisplayFor(modelItem => item.Egzemplarze.Ksiazki.isbn) <br />
            @{
            int? ksiazka = item.Egzemplarze.id_ksiazka;
            var autorzy = item.Egzemplarze.Ksiazki.AutorzyKsiazki.Where(p => p.id_ksiazka == ksiazka);
            }
            @foreach (var a in autorzy)
            {
                <font size="1">@Html.DisplayFor(modelItem => a.Autorzy.nazwisko), </font>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Egzemplarze.sygnatura)
        </td>
        <td>
            @{string zwrot = item.do_kiedy.ToString().Substring(0, 10);}
            @Html.DisplayFor(modelItem => zwrot)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_wypozyczeniaKsiazki }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_wypozyczeniaKsiazki }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_wypozyczeniaKsiazki })
        </td>
    </tr>
}

</table>
